@keyframes pulsation {
  from {
    transform: scaleX(0.95);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes move-linear-from-right {
  from {
    right: -100%;
    visibility: hidden;
  }

  1% {
    right: 50%;
    visibility: visible;
  }

  to {
    right: 0%;
    visibility: visible;
  }
}

@keyframes move-linear-to-right {
  from {
    right: 0%;
    visibility: visible;
  }

  1% {
    right: -50%;
    visibility: visible;
  }

  to {
    right: -100%;
    visibility: hidden;
  }
}

@mixin animation(
  $name: pulsation,
  $duration: 1s,
  $timing-function: ease,
  $delay: 0s,
  $iteration-count: infinite,
  $direction: normal
) {
  animation: $name $duration $timing-function $delay $iteration-count $direction;
}
