// normalize
@import '../shared/ui/common styles/base/normalize';

//abstracts
@import '../shared/ui/common styles/abstracts/constants';
@import '../shared/ui/common styles/abstracts/placeholders';
@import '../shared/ui/common styles/abstracts/mixins';
@import '../shared/ui/common styles/abstracts/animations';

//layout
@import '../shared/ui/common styles/layout/content-structure';

//base
@import '../shared/ui/common styles/base/typography';
@import '../shared/ui/common styles/base/common';

//components
@import '../widgets/test-section/test-section';
@import '../widgets/footer/footer';
